*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(216, 12%, 8%);
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 100%);
    
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20.5rem;
    height: 23rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: hsl(213, 19%, 18%);
    background-image: linear-gradient(
    180deg,
    hsl(213, 19%, 18%),
    hsl(216, 12%, 10%)
    );
}


.card button{
    cursor: pointer;
    display: block;
    margin-top: 1.5em;
    padding: 1em 2em;
    border: none;
    border-radius: 2em;
    color: hsl(0, 0%, 90%);
    background-color: hsl(25, 97%, 53%);
    font-family: "Overpass", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;

}




.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rounded-label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    background-color: hsl(213, 19%, 23%);
    text-align: center;
}

.rating-label{
    cursor: pointer;
    color: hsl(216, 12%, 54%);
}

.rating-label:hover{
    color: #fff;
    background-color: hsl(25, 97%, 53%);
}

.selected-rating{
    color: #fff;
    background-color: hsl(216, 12%, 54%);
}

.thanks-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thanks-card img{
    width: 150px;
    margin: 1.5rem 0 1rem 0;
}

.rating{
    padding: 0.5em 1em;
    margin-bottom: 0;
    border-radius: 1em;
    color: hsl(25, 97%, 53%);
    background-color: hsl(213, 19%, 23%);
}
.card-title{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}
.card-desc{
    margin-top: 0;
    color: hsl(216, 12%, 54%);
    line-height: 1.5em;
}

.hidden{
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

footer{
    color: white;
}